<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-ionic"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Mercúrio</ion-card-title>
      <img src="https://i.postimg.cc/kg1Z9w1D/file.png">
    </ion-card-header>
  
    <ion-card-content> Posição: Planeta mais próximo do Sol.
      Tamanho: Menor planeta do Sistema Solar, com diâmetro de cerca de 4.880 km.
      Órbita: Completa uma volta ao redor do Sol em 88 dias terrestres.
      Rotação: Um dia em Mercúrio dura 59 dias terrestres; um dia solar dura 176 dias terrestres.
      Temperatura: Varia de -173°C à noite a 427°C durante o dia.
      Atmosfera: Muito fina, composta principalmente de oxigênio, sódio, hidrogênio e hélio.
      Superfície: Repleta de crateras, planícies e montanhas, semelhante à da Lua.
      Campo Magnético: Fraco, cerca de 1% da força do campo magnético terrestre.
      Exploração: Visitado pela sonda Mariner 10 na década de 1970 e pela sonda MESSENGER entre 2011 e 2015. </ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Vênus</ion-card-title>
      <img src="https://i.postimg.cc/Jnwp4Fb7/file.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Segundo planeta a partir do Sol.
      Tamanho: Diâmetro de cerca de 12.104 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 225 dias terrestres.
      Rotação: Um dia em Vênus dura cerca de 243 dias terrestres, enquanto um dia solar é cerca de 117 dias terrestres.
      Temperatura: Média de cerca de 465°C, o planeta mais quente do Sistema Solar.
      Atmosfera: Densa, composta principalmente de dióxido de carbono, com nuvens de ácido sulfúrico; pressão atmosférica na superfície é 92 vezes a da Terra.
      Superfície: Coberta por planícies de lava, montanhas e elevações altas.
      Campo Magnético: Muito fraco e não global.
      Exploração: Visitas de várias missões, incluindo as sondas soviéticas Venera e a NASA Magellan.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Terra</ion-card-title>
      <img src="https://i.postimg.cc/Xqjcr6XW/file-1.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Terceiro planeta a partir do Sol.
      Tamanho: Diâmetro de cerca de 12.742 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 365,25 dias (ano terrestre).
      Rotação: Um dia na Terra dura 24 horas.
      Temperatura: Média global de cerca de 15°C, com variações significativas dependendo da localização e da estação.
      Atmosfera: Composta principalmente de nitrogênio (78%) e oxigênio (21%), com traços de outros gases.
      Superfície: Coberta por 71% de água e 29% de terra, com uma variedade de paisagens, incluindo oceanos, montanhas, desertos e florestas.
      Campo Magnético: Possui um campo magnético significativo, que ajuda a proteger a superfície dos efeitos nocivos do vento solar.
      Vida: Único planeta conhecido por suportar vida.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Marte</ion-card-title>
      <img src="https://i.postimg.cc/FzwR20M6/file.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Quarto planeta a partir do Sol.
      Tamanho: Diâmetro de cerca de 6.779 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 687 dias terrestres.
      Rotação: Um dia em Marte dura cerca de 24,6 horas.
      Temperatura: Média de cerca de -60°C, com variações que podem chegar a -125°C nos polos e até 20°C no equador durante o dia.
      Atmosfera: Muito fina, composta principalmente de dióxido de carbono (95%), com traços de nitrogênio e argônio.
      Superfície: Inclui grandes planícies, vulcões como o Olympus Mons (o maior do Sistema Solar), e o cânion Valles Marineris.
      Campo Magnético: Marte tem um campo magnético fraco e local, sem um campo magnético global significativo.
      Exploração: Foi explorado por várias missões, incluindo os rovers Spirit, Opportunity, Curiosity e Perseverance, além das sondas orbitais como a Mars Reconnaissance Orbiter.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Júpiter</ion-card-title>
      <img src="https://i.postimg.cc/XYk5yzS7/file-1.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Quinta planeta a partir do Sol.
      Tamanho: O maior planeta do Sistema Solar, com diâmetro de cerca de 139.820 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 12 anos terrestres.
      Rotação: Um dia em Júpiter dura cerca de 10 horas.
      Temperatura: Média de cerca de -145°C nas camadas superiores da atmosfera.
      Atmosfera: Composta principalmente de hidrogênio (90%) e hélio (10%), com a presença de nuvens de amônia e metano.
      Superfície: Não possui uma superfície sólida definida; é composto principalmente de gases e líquidos.
      Campo Magnético: Tem um campo magnético muito forte, o maior do Sistema Solar.
      Anéis: Possui um sistema de anéis tênues, composto de partículas pequenas.
      Satélites: Tem pelo menos 95 luas conhecidas, incluindo quatro grandes luas galileanas: Io, Europa, Ganimedes e Calisto.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Saturno</ion-card-title>
      <img src="https://i.postimg.cc/TY92jMwS/file.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Sexto planeta a partir do Sol.
      Tamanho: Segundo maior planeta do Sistema Solar, com diâmetro de cerca de 116.460 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 29,5 anos terrestres.
      Rotação: Um dia em Saturno dura cerca de 10,7 horas.
      Temperatura: Média de cerca de -178°C na atmosfera superior.
      Atmosfera: Composta principalmente de hidrogênio (96%) e hélio (3%), com traços de metano e amônia.
      Superfície: Não possui uma superfície sólida definida; é composto principalmente de gases e líquidos.
      Anéis: Possui um sistema de anéis extensos e brilhantes, compostos principalmente de partículas de gelo e rocha.
      Satélites: Tem pelo menos 83 luas conhecidas, com Titã sendo a maior e uma das maiores luas do Sistema Solar.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Urano</ion-card-title>
      <img src="https://i.postimg.cc/htvn9XNz/file-1.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Sétimo planeta a partir do Sol.
      Tamanho: Diâmetro de cerca de 50.724 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 84 anos terrestres.
      Rotação: Um dia em Urano dura cerca de 17,2 horas.
      Temperatura: Média de cerca de -224°C, sendo o planeta mais frio do Sistema Solar.
      Atmosfera: Composta principalmente de hidrogênio (83%) e hélio (15%), com traços de metano, que dá ao planeta sua cor azulada.
      Superfície: Não possui uma superfície sólida definida; é composto principalmente de gases e líquidos.
      Anéis: Possui um sistema de anéis estreitos e escuros, descobertos em 1977.
      Satélites: Tem pelo menos 27 luas conhecidas, com Miranda, Ariel, Umbriel, Titania e Oberon sendo as maiores.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Netuno</ion-card-title>
      <img src="https://i.postimg.cc/90c5z0Gf/file.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Oitavo planeta a partir do Sol.
      Tamanho: Diâmetro de cerca de 49.244 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 165 anos terrestres.
      Rotação: Um dia em Netuno dura cerca de 16 horas.
      Temperatura: Média de cerca de -214°C.
      Atmosfera: Composta principalmente de hidrogênio (83%) e hélio (15%), com uma quantidade significativa de metano, que dá ao planeta sua cor azul.
      Superfície: Não possui uma superfície sólida definida; é composto principalmente de gases e líquidos.
      Anéis: Possui um sistema de anéis tênues e escuros, descobertos em 1984.
      Satélites: Tem pelo menos 14 luas conhecidas, com Tritão sendo a maior e mais notável devido à sua órbita retrógrada.</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Plutão</ion-card-title>
      <img src="https://i.postimg.cc/xCRpxRz0/file-1.png">
    </ion-card-header>
  
    <ion-card-content>Posição: Anteriormente considerado o nono planeta, agora classificado como um planeta anão, está localizado no cinturão de Kuiper, além de Netuno.
      Tamanho: Diâmetro de cerca de 2.377 km.
      Órbita: Completa uma volta ao redor do Sol em aproximadamente 248 anos terrestres.
      Rotação: Um dia em Plutão dura cerca de 6,4 dias terrestres.
      Temperatura: Média de cerca de -229°C.
      Atmosfera: Composta principalmente de nitrogênio, com traços de metano e monóxido de carbono.
      Superfície: Inclui regiões de gelo de água e metano, e possui uma variedade de características geológicas, como planícies e montanhas.
      Anéis: Não possui anéis.
      Satélites: Tem cinco luas conhecidas, sendo Caronte a maior e mais próxima. As outras são Nix, Hidra, Kerberos e Estige.</ion-card-content>
  </ion-card>




  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
