<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-icon name="logo-ionic"></ion-icon>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Armstrong </ion-card-title>
      <ion-card-subtitle>Planetas</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Planetário Virtual é um site dedicado à disseminação de informações abrangentes e atualizadas sobre os planetas do Sistema Solar. Oferece uma fonte confiável de dados científicos sobre as características, órbitas, atmosferas e geologias dos planetas, bem como sobre os planetas anões e outros corpos celestes. O site é projetado para atender tanto ao público geral quanto aos entusiastas da astronomia e estudantes, apresentando conteúdos em formatos acessíveis, como textos, imagens, infográficos e vídeos. Além de fornecer descrições detalhadas, o Planetário Virtual também oferece recursos interativos, como visualizações 3D e simulações, para enriquecer a experiência de aprendizado sobre o nosso Sistema Solar.
      <ion-icon name="logo-react"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agradecimentos</ion-card-title>
      <ion-card-subtitle>Armstrong</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Queridos visitantes,

Gostaríamos de expressar nosso sincero agradecimento a cada um de vocês que acessou e explorou o nosso site. Sua curiosidade e interesse em aprender mais sobre os planetas do Sistema Solar nos motivam a continuar aprimorando e expandindo nosso conteúdo.

Estamos comprometidos em fornecer informações precisas e fascinantes para que todos possam apreciar a maravilha do nosso universo. Esperamos que a experiência tenha sido enriquecedora e inspiradora.

Obrigado por fazer parte da nossa jornada de exploração espacial. Continuaremos a trabalhar para trazer novas descobertas e atualizações para vocês.
    </ion-card-content>
  </ion-card>




  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>
